In [29]:
import pandas as pd
import geopandas as gpd
import rasterio
import warnings
warnings.filterwarnings('ignore')

In [22]:
# Reading the 'Stations' shapefile
stations=gpd.read_file(r'Extract Elevation from a DEM\stations.shp')

In [23]:
# Creating an empty column for elevation values
stations['elevations']=0

In [24]:
stations

   Id      name                   geometry  elevations
0   0  station1  POINT (116.66012 6.20102)           0
1   0  station2  POINT (116.86285 6.10965)           0
2   0  station3  POINT (117.12412 6.12821)           0
3   0  station4  POINT (117.29115 6.30524)           0
4   0  station5  POINT (116.91996 6.35664)           0
5   0  station6  POINT (117.03846 6.51511)           0
6   0  station7  POINT (116.85286 6.64931)           0
7   0  station8  POINT (116.68868 6.63646)           0
8   0  station9  POINT (117.28544 6.58078)           0

In [25]:
for index, row in stations.iterrows():
    # Extracting attriburtes from the stations shapefile
    name=row['name']
    latitude=row['geometry'].y
    longitude=row['geometry'].x
    
    # Reading the DEM using rasterio 
    dem=rasterio.open(r'Extract Elevation from a DEM\DEM.tif')
    row,col=dem.index(longitude, latitude)
    dem_data=dem.read(1)
    
    print('The elevation of '+ name + ": " +  str(dem_data[row,col]) + ' meters')
    
    # Add the elevation values to the 'stations' geodataframe
    stations['elevations'].loc[index]=dem_data[row,col]

The elevation of station1: 2570 meters
The elevation of station2: 204 meters
The elevation of station3: 191 meters
The elevation of station4: 117 meters
The elevation of station5: 774 meters
The elevation of station6: 291 meters
The elevation of station7: 49 meters
The elevation of station8: 399 meters
The elevation of station9: 82 meters

In [27]:
# Saving the infomation into a csv file 
elevations=stations[['name','elevations']]
elevations.to_csv('topographic_elevations.csv')

In [36]:
elevation_df=pd.read_csv('topographic_elevations.csv')
elevation_df.drop(columns=['Unnamed: 0'])

       name  elevations
0  station1        2570
1  station2         204
2  station3         191
3  station4         117
4  station5         774
5  station6         291
6  station7          49
7  station8         399
8  station9          82